.main {
  /* min-height: 100vh; */
  height: auto;
  width: 100%;
  background: rgba(15, 16, 35, 0.8);
}

.box {
  padding-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.box > h1 {
  font-weight: 400;
  font-size: 34px;
  line-height: 42px;
  color: #ffffff;
  padding-bottom: 10px;
}

.box > p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #8c8c8c;
}
.marqcon {
  padding-top: 65px;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
}
.marq {
  display: flex;
  flex-direction: row;
  width: 400px;
  padding: 16px 24px;
  gap: 4px;
  height: 76px;
  background: #1e264b;
  border-radius: 12px;
  border: 1px solid transparent;
  transition: border-color 0.3s ease;
}

.marq:hover {
  cursor: pointer;
  border-color: #2f76ff;
}

.single {
  display: flex;
  padding-bottom: 30px;
  gap: 28px;
}
.marq:last-child {
  margin-right: 28px;
}

.marq:hover .arrowcon {
  transition: transform 0.3s ease;
  transform: rotate(-30deg);
}
.arrowcon {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 100%;
  margin-left: 12px;
  transition: transform 0.3s ease;
  margin-bottom: 5px;
}

.trytext {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #2f76ff;
}

.trybtn {
  padding: 14px 18px 14px 24px;
  margin-bottom: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 3.56px; */
  gap: 15px;
  height: 44.44px;
  background: #1e2a5e;
  border-radius: 73.7778px;
  --offset: 3px;
  position: relative;
  overflow: hidden;
  max-width: 100%;
}

.trybtn::before {
  content: "";
  background: conic-gradient(transparent 270deg, white, transparent);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1;
  width: 100%;
  animation: rotate 2s linear infinite;
}

.trybtn::after {
  content: "";
  background: inherit;
  border-radius: inherit;
  position: absolute;
  inset: var(--offset);
  height: calc(100% - 2 * var(--offset));
  width: calc(100% - 2 * var(--offset));
}

.con {
  z-index: 2;
  width: 100%;
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) scale(1.4) rotate(0turn);
  }

  to {
    transform: translate(-50%, -50%) scale(1.4) rotate(1turn);
  }
}
